* { padding: 0; margin: 0; }

body, html {
  height:100%;
  background: #090a0a;
}

canvas {
  position: fixed;
  z-index: 0;
  margin: 0 0 0 0;
  top: 0px;
  height: 100%; 
  width: 100%;
  filter: blur(5px);
}

#contentDiv {
  position: relative;
  z-index: 1;  
  margin: auto;
  width: 75%;
}