@import url('https://fonts.googleapis.com/css?family=Exo');
@import "./canvasBackground.css";

h1, h2, h3, p {
  color: #fffff0;
  font-family: 'Exo';
  font-style: normal; 
  font-variant: normal;
}

h1, h2, h3 {
  font-weight: 700; 
  font-size: xx-large;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  font-size: large;
  line-height: 25px;
}

.flexContainer {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto 2%;
  animation: fadein 3s;
}

@keyframes fadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

#portraitPicture {
  order: 3;
  max-width: 50%;
  height: 20em;
}

#verticalSeparator {
  order: 2;
  border-left: 3px solid white;
  height: 20em;
  margin: auto 10% auto 10%;
}

#welcomeTitle {
  order: 1;
  width: 30%;
  font-size: 9em;
}

