@import url('https://fonts.googleapis.com/css?family=Exo');
@import "./canvasBackground.css";

h1, h2, h3, p {
  color: #fffff0;
  font-family: 'Exo';
  font-style: normal; 
  font-variant: normal;
}

h1, h2, h3 {
  font-weight: 700; 
  font-size: xx-large;
  text-align: center;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  font-size: large;
  line-height: 25px;
}

.flexContainer {
  position: sticky;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto 2%;
  animation: fadein 3s;
}

@keyframes fadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

#portraitPicture {
  order: 1;
  display: block;s
  max-width: 25%;
  max-height: 20em;
  border-radius: 50%;
  margin: 0 10% 0 0;
}

#verticalSeparator {
  order: 1;
  border-left: 3px solid gray;
  height: 25em;
}

#welcomeTitle {
  order: 1;
  display: block;
  width: 35%;
  font-size: 9em;
  margin: 0 0 0 10%;
}

