@import url('https://fonts.googleapis.com/css?family=Exo');
@import "./canvasBackground.css";

h1, h2, h3, p {
  color: white;
  font-family: 'Exo';
  font-style: normal; 
  font-variant: normal;
}

h1, h2, h3 {
  margin: 2% auto 2% auto; 
  font-weight: 700; 
  font-size: xx-large;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  font-size: large;
  line-height: 25px;
}

.flexContainer {
  position: sticky;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 3% 2%;
}

#portraitPicture {
  order: 1;
  max-width: 30%;
  overflow: hidden;
  border-radius: 50%;
}

#welcomeTitle {
  order: 2;
  margin: 1%;
  text-align: center;
  width: 100%;
  font-size: 9em;
}

