h1 {
  margin: 0% 1%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: #000 1px 0 10px;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  width: 99%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: #000 1px 0 10px;
}