h1, h2, h3, p {
  width: 100%;
  color: white;
  text-shadow: 
    #000 1px 1px 1px,
    #000 -1px 1px 1px,
    #000 1px -1px 1px,
    #000 -1px -1px 1px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3 {
  margin: 2% 2%;
  text-align: center;
}

p {
  margin: auto;
}